// @import 'imports/base-scss/base';

.video_header {
  padding-top: 100px;  
}

.black_bg {
  background-color: #000;
  background: url("images/black-bg.jpg") no-repeat center;
}

.video_container {
  margin: 10vh 25vw;
  min-height: 400px;
  width: 50vw;
}

.next_section_arrow_container {

}
