// @import 'imports/base-scss/base';

.video_header {
  padding-top: 100px;  
}

.black_bg {
  background-color: rgba(0,0,0,0);
}

.video_container {
  margin: 10vh 25% 5vh 25%;
  min-height: 400px;
  width: 50vw;
}

.next_section_arrow_container {

}


.meeting_btn {
  text-align: center;
  margin: 0 auto 5vh auto;
  min-width: 100px;
  max-width: 300px;
}