// // Base Colors SCSS

$black: #1C0113;
$dark-gray: #222222;
$main-gray: #333333;
$light-gray: #ECF0F1;
$silver: #8E8E93;
$dark-red: #6B0103;
$main-red: #A30006;
$second-red: #C21A01;
$bright-red: #F03C02;
$white: #ffffff;

$blue: #38CBF8;
$yellow: #F8C731;
$green: #3CD86D;