.intro_blog_field {
  background: #fff;
  height: 800px;
}


.intro_container {
  padding: 80px;
}
.title {
  text-align: center;
  font-family: 'Oswald';
  font-size: 40pt;
  padding-bottom: 100px;
}